.cities__map {
  display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
  -ms-flex-item-align: stretch;
	align-self: stretch;
	background-size: 682px auto;
	background-repeat: no-repeat;
	background-position: right center;
}

.offers__map {
	width: 1144px;
	height: 579px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	background-repeat: no-repeat;
	background-size: 1144px auto;
	background-position: center top;
}
